
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p>Parking's Adress:<%=address%></p>
    <p>Parking's Type :<%=type%></p>
    <p>Parking's Status :<%=status%></p>
    <p>Parking's Price<%=price%></p>



<%- include("partials/footer"); -%>
